{% extends "base.html" %}

{% block content%}
<!-- Form for creating categories -->

<form action="" method="post">
	{% csrf_token %}
	{{ form.name }}
	<span>{{ error }}</span>
	<button type="submit">Сохранить</button>
</form>

<!-- Table with categories name -->

<table class="table">
	<thead>
		<tr>
			<th>Название</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{category.name}}</td>
			<td>
				<form action="{% url 'transaction:delete_category' category.id %}" method="POST" class="delete-button">
					{% csrf_token %}
					<input type="submit" value="Удалить"></input>
				</form>

				<a href="" class="button-link">Редактировать</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}