{% extends "base.html" %}

{% block content%}
<!-- Form for creating transaction -->

<form action="" method="post">
	{% csrf_token %}

	{{ form.date }}
	{{ form.name }}
	{{ form.category }}
	{{ form.expenses }}
	<span>{{ error }}</span>
	<button type="submit">Сохранить</button>
</form>

<!-- Category filter block -->

<div class="category_filter">
	<a href="{% url 'transaction:formatting' category_id=0 %}" type="submit">Все категории</a>
	{% for category in categories %}

	<a href="{% url 'transaction:formatting' category_id=category.id %}" type="submit">{{ category.name }}</a>

	{% endfor %}
</div>

<!-- Time filter -->

<form action="" method="post">
	{% csrf_token %}
	<select name="Period" id="">
		<option value=""><a href="" type="submit">День</a></option>
		<option value=""><a href="" type="submit">Неделя</a></option>
		<option value="" selected><a href="" type="submit">Месяц</a></option>
	</select>

	<button type="submit">-></button>
</form>

<!-- Table with transaction info -->

<table class="table">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Название</th>
			<th>Категория</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		{% for transaction in transactions %}
		<tr>
			<td>{{transaction.date}}</td>
			<td>{{transaction.name}}</td>
			<td>{{transaction.category}}</td>
			<td>{{transaction.expenses}}</td>
			<td>

				<form action="{% url 'transaction:delete' transaction.id %}" method="POST" id="delete-button">
					{% csrf_token %}
					<input type="submit" value="Удалить"></input>
				</form>
				<a href="{% url 'transaction:update' transaction.id %}">Редактировать</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<footer>
		<tr>
			<th>Итог</th>
			<th></th>
			<th></th>
			<th>{{ result }}</th>
		</tr>
	</footer>
</table>

{% endblock %}