{% extends "base.html" %}

{% block content%}
<!-- Form for creating transaction -->

<form action="" method="post">
	{% csrf_token %}

	{{ form.date }}
	{{ form.name }}
	{{ form.category }}
	{{ form.expenses }}
	<span>{{ error }}</span>
	<button type="submit">Сохранить</button>
</form>

<!-- Category filter block -->

<div class="category_filter">
	<input type="checkbox" id="checkbox-toggle">
	<label for="checkbox-toggle">Нажмите, чтобы развернуть</label>
	<ul class="category-list">
		<li class="category-point"><a href="{% url 'transaction:formatting' category_id=0 %}" type="submit">Все
				категории</a></li>

		{% for category in categories %}

		<li class="category-point">
			<a href="{% url 'transaction:formatting' category_id=category.id %}" type="submit">{{ category.name }}</a>
		</li>

		{% endfor %}
	</ul>
</div>

<!-- Time filter -->

<form action="" method="post">
	{% csrf_token %}
	<select name="Period" id="">
		<option value=""><a href="" type="submit">День</a></option>
		<option value=""><a href="" type="submit">Неделя</a></option>
		<option value="" selected><a href="" type="submit">Месяц</a></option>
	</select>

	<button type="submit">-></button>
</form>

<!-- Table with transaction info -->

<table class="table">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Название</th>
			<th>Категория</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		{% for transaction in transactions %}
		<tr>
			<td>{{transaction.date}}</td>
			<td>{{transaction.name}}</td>
			<td>{{transaction.category}}</td>
			<td>{{transaction.expenses}}</td>
			<td>

				<form action="{% url 'transaction:delete' transaction.id %}" method="POST" class="delete-button">
					{% csrf_token %}
					<input type="submit" value="Удалить" class="delete-button-input"></input>
				</form>
				<a href="{% url 'transaction:update' transaction.id %}" class="button-link">Редактировать</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<footer>
		<tr>
			<th>Итог</th>
			<th></th>
			<th></th>
			<th>{{ result }}</th>
		</tr>
	</footer>
</table>

{% endblock %}